.container {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  .inner-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .inner-card {
      color: white;
      width: 600px;
      text-align: center;
      .buttons {
        margin-bottom: 16px;
        color: white;
      }
      mat-card-title {
        color: white;
      }
      .links {
        text-align: start;
        color: white;
        cursor: pointer;
      }
    }
  }
}
