.container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner-container {
  font-size: 16px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * {
    text-align: center;
    > * {
      text-align: start;
    }
  }
  a,
  .video {
    margin-bottom: 32px;
  }
  img {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .inner-container {
    width: 350px;
  }
  .video {
    width: 350px;
    height: 240px;
  }
}
@media (min-width: 992px) {
  .inner-container {
    width: 570px;
  }
  .video {
    width: 570px;
    height: 360px;
  }
}
@media (min-width: 1200px) {
  .inner-container {
    width: 770px;
  }
  .video {
    width: 770px;
    height: 480px;
  }
}
