@import "tailwindcss";
@import "tw-animate-css";

@import "../../../../packages/ui/src/styles/globals.css";

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  font-family: var(--font-arimo), sans-serif;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-arimo), sans-serif;
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}