.container {
  height: 100%;
  .inner-container {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
    text-align: center;
    .buttons {
      margin-bottom: 16px;
      color: white;
    }
    mat-card-title {
      color: white;
    }
    .links {
      color: white;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      a:visited {
        color: white;
      }
    }
  }
}
