@import 'tailwindcss';
@import 'tw-animate-css';

@import '../../../../packages/ui/src/styles/globals.css';
@import '../../../../packages/shared-react-components/globals.css';

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  background: url('/images/captain-1024.webp');
  background-color: rgb(18, 18, 18);
  background-position-x: 51%;
  background-position-y: 50%;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.topScroll {
  background-color: transparent !important;
}

div.overText {
  background-color: rgb(202, 202, 202);
  position: absolute;
  bottom: 157px;
  right: 10vw;
  padding: 40px;
  width: 390px;
}
